.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 130px;

  .img {
    display: block;
    width: 52%;
    margin-right: 53px;
    margin-bottom: 20px;
  }
  .rigthSide {
    width: 40%;
    padding-bottom: 110px;
    .title {
      font-size: 45px;
      font-weight: 500;
      line-height: 51px;
      color: #252932;
    }
    .text {
      margin-bottom: 0;
      font-family: Barlow;
      font-size: 20px;
      font-weight: 300;
      line-height: 32px;
      color: #6c6c6c;
    }
  }
}
