section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1112px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 141px;
  padding-bottom: 89px;
}
.goBack {
  width: 135px;
  height: 43px;
  margin-bottom: 20px;
  background-color: #14462e;
  color: #ffffff;
  font-family: 'Barlow';
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
    background-color: #9fcb22;
  }
}
.fotoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 54px;

  .fotoContainerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 22px;

    .scrollBtn {
      width: 95px;
      height: 30px;
      margin-bottom: 17px;
      border: none;
      background-color: #9fcb22;

      .icon {
        color: #ffffff;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .img {
      width: 95px;
      height: 89px;
      margin-bottom: 18px;
      background-color: #f6fafb;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .mainImgContainer {
    width: 459px;
    height: 611px;
    margin-top: 0;
    padding-top: 0;
    background-color: #f6fafb;

    .mainImg {
      display: block;
      width: 450px;
      height: 360px;
      margin-top: 85px;
    }
  }
}
.containerRigth {
  width: 50%;
  .title {
    margin-bottom: 0;
    font-family: 'Jost';
    font-size: 45px;
    font-weight: 500;
    color: #252932;
  }
  .starsList {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 0;

    .item {
      width: 15px;
      height: 15px;
      margin-right: 7px;
      list-style: none;

      &:hover {
        cursor: pointer;
      }
      .starIcon {
        display: block;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        color: #fccc42;
      }
    }
  }
  .oldPrice {
    display: inline-block;
    margin-right: 9px;
    font-family: 'Barlow';
    font-size: 23px;
    font-weight: 400;
    text-align: left;
    text-decoration: line-through;
    color: #b2b3b4;
  }
  .price {
    display: inline-block;
    font-family: 'Barlow';
    font-size: 23px;
    font-weight: 500;
    color: #9fcb22;
  }
  .btnContainer {
    margin-bottom: 25px;
    .btn {
      width: 43px;
      height: 43px;
      border: 1px solid #deecf0;
      background-color: #f6fafb;

      &:hover {
        cursor: pointer;
      }
    }

    .btn_text {
      display: inline-block;
      width: 70px;
      height: 43px;
      margin-bottom: 0;
      border: 1px solid #deecf0;
      background-color: #f6fafb;
    }
    .btnAddToCart {
      width: 156px;
      height: 43px;
      margin-left: 15px;
      font-family: 'Barlow';
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      border: none;
      color: #ffffff;
      background-color: #14462e;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        cursor: pointer;
        background-color: #9fcb22;
      }
    }
  }
  .overview {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #252932;
  }
  .text {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color: #6c6c6c;
  }

  .sotialContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;

    .share {
      margin-right: 14px;
      margin-bottom: 0;
      font-size: 24px;
      font-weight: 500;
      color: #252932;
    }

    .sotialList {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;

      .item {
        width: 20px;
        height: 20px;
        margin-right: 12px;

        :hover .icon {
          cursor: pointer;
        }
        .icon {
          display: block;
          margin: 0 auto;
          width: 16px;
          height: 16px;
          color: #9fcb22;
        }
      }
    }
  }
  .downContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .guarantee {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 219px;
      height: 104px;
      padding: 31px 27px;
      border: 1px solid #deecf0;
      background-color: #f6fafb;
    }
    .service {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 219px;
      height: 104px;
      padding: 31px 27px;
      border: 1px solid #deecf0;
      background-color: #f6fafb;
    }
    .img {
      display: block;
      width: 44px;
      height: 52px;
    }
    .text {
      width: 104px;
      margin-bottom: 0;
      font-size: 22px;
      font-weight: 400;
      color: #252932;
    }
  }
}
.aboutProduct {
  .ul {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 90px;
    padding-left: 0;
    list-style: none;
    border-bottom: 1px solid #deecf0;

    .item {
      margin-right: 50px;
      padding-bottom: 22px;
      font-size: 22px;
      font-weight: 500;
      color: #252932;

      &:hover {
        cursor: pointer;
      }
    }
    .active {
      margin-right: 50px;
      padding-bottom: 22px;
      font-size: 22px;
      font-weight: 500;
      color: #252932;
      border-bottom: 3px solid #9fcb22;

      &:hover {
        cursor: pointer;
      }
    }
    .title {
      margin-bottom: 0;
      font-size: 22px;
      font-weight: 500;
      color: #252932;
    }
  }
  .text {
    display: block;
    margin-top: 38px;
    color: #6c6c6c;
    font-family: Barlow;
    font-size: 20px;
    font-weight: 300;
  }
}
