.container {
  position: relative;
  display: block;
  max-width: 1112px;
  margin: 0 auto;
  padding: 108px 15px;
}
.heroContainer {
  width: 483px;
  min-height: 198px;
  margin: 0 auto;
  padding-top: 53px;
  padding-bottom: 53px;
  border-top: 3px solid #9fcb22;
  background-color: #ffffff;

  .subtitle {
    font-family: Jost;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #9fcb22;
  }
  .title {
    margin-bottom: 0;
    font-family: 'Jost';
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: #252932;

    .icon {
      color: #9fcb22;
    }
  }
}
.img {
  position: absolute;
  left: 49%;
  top: 5%;

  width: 100%;
  width: 679px;
  height: 441px;
  background-image: url(../../../../sources/images/ProductDatailsPage/heroProductDetails/heroImg.png);
  background-repeat: no-repeat;
}
