.container {
  display: block;
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.features {
  position: relative;
  padding-top: 141px;
  padding-bottom: 141px;

  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    list-style: none;
  }
  &_item {
    width: 258px;
    height: 234px;
    margin-bottom: 58px;
  }
  &_img {
    width: 77px;
    height: 92px;
    margin: 0 auto;
    margin-left: 35%;
  }
  &_title {
    font-size: 26px;
    font-weight: 400;
    line-height: 51px;
    text-align: center;
    color: #252932;
  }
  &_text {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    color: #6c6c6c;
  }
  &_imgContainer {
    position: absolute;
    top: 16%;
    left: 36%;
    width: 532px;
    height: 420px;
  }
  &_btn {
    width: 175px;
    height: 53px;
    margin-left: 182px;
    margin-top: 80px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    background-color: #9fcb22;

    &:hover {
      cursor: pointer;
    }
  }
}
