.mainHeader {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 130px;
  width: 100%;
  z-index: 30;
  background-color: #e8ebe8;
}
.container {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  .header {
    height: 130px;
    .logo {
      width: 60px;
    }
  }
}
.navList {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  list-style: none;

  .item {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 400;

    &:not(:last-child) {
      margin-right: 10px;
    }
    .link {
      color: black;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        color: #9fcb22;
      }
    }
  }
}
.sotialList {
  position: absolute;
  top: 10%;
  left: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  list-style: none;
  padding-left: 0;

  .item {
    position: relative;
    width: 42px;
    height: 42px;
    margin-right: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #9fcb22;
    }

    &:hover .icon {
      color: #ffffff;
    }
    .icon {
      display: block;
      margin: 0 auto;
      margin-top: 11px;
      width: 20px;
      height: 20px;
      fill: #9fcb22;
      transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .linkCartLength {
    position: absolute;
    top: -10%;
    left: 88%;
    width: 20px;
    height: 20px;
    padding-left: 7px;
    background-color: #10472e;
    color: white;
    border-radius: 50%;
  }
  .linkLikeLength {
    position: absolute;
    top: -10%;
    left: 63%;
    width: 20px;
    height: 20px;
    padding-left: 7px;
    background-color: #10472e;
    color: white;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .mainHeader {
    max-height: 130px;
  }
  .container {
    width: 100%;
    max-width: 1112px;

    .header {
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        width: 100%;
      }
    }
  }
  .navList {
    height: 130px;
    margin-right: 50px;
    .item {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
  .sotialList {
    position: relative;
    top: 0%;
    left: 0%;
  }
}
