.headerHeroContainer {
  position: relative;
  width: 100%;
  min-height: 544px;
  background-color: #f6fafb;
  background-repeat: no-repeat;
}
.headerLeftBg {
  position: absolute;
  left: -20%;
  top: -8%;
  width: 100%;
  max-width: 582px;
  height: 501px;
  background-image: url(../../../sources/images/ProductDatailsPage/heroProductDetails/heroLeftBg.png);
}