.container {
  display: block;
  max-width: 1112px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.hot {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  width: 49px;
  height: 28px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #d9485b;
}
.bestSeller {
  position: relative;
  background-color: #f6fafb;
  padding-top: 141px;
  padding-bottom: 141px;
  overflow: hidden;

  &_subtitle {
    margin-bottom: 27px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #9fcb22;
  }
  &_title {
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
    color: #252932;
  }
  &_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 61px;
  }
  &_item {
    margin-right: 20px;
  }
  &_link {
    color: #252932;
    font-size: 23px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      color: #9fcb22;
    }
  }

  &_productsList {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    &_item {
      position: relative;
      width: 350px;
      height: 481px;
      margin-right: 10px;
      margin-bottom: 30px;
      background-color: #ffffff;
      list-style: none;

      &:hover {
        border: 1px solid #9fcb22;
      }
    }
    &_linkLike {
      display: inline-block;
      margin-top: 23px;
      margin-left: 292px;
      width: 42px;
      height: 42px;
      background-color: #f6fafb;
      border-radius: 50%;

      &:hover {
        background-color: #9fcb22;
      }
      &:hover .bestSeller_productsList_linkLike_icon {
        color: #ffffff;
      }

      &_icon {
        display: block;
        margin: 0 auto;
        margin-top: 12px;
        width: 20px;
        height: 20px;
        color: #bdbdbd;
      }
    }
    &_img {
      display: block;
      margin: 0 auto;
      margin-bottom: 24px;
      width: 180px;
      height: 150px;
      background-size: contain;
    }
    &_starsList {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      padding-left: 0;
     
      &_item {
        width: 15px;
        height: 15px;
        margin-right: 7px;
        list-style: none;
        
        &:hover {
          cursor: pointer;
        }
        &_link_icon {
          display: block;
          margin: 0 auto;
          width: 15px;
          height: 14px;
          color: #fccc42;
        }
      }
    }
    &_text {
      margin-bottom: 10px;
      color: #252932;
      font-size: 26px;
      font-weight: 400;
      text-align: center;
    }
    &_price {
      color: #b2b3b4;
      font-size: 23px;
      font-weight: 400;
      text-align: center;
    }
    &_oldPrice {
      color: #9fcb22;
      text-decoration: none;
      text-decoration: line-through;
    }
    &_button {
      display: block;
      width: 120px;
      height: 40px;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #14462e;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: #9fcb22;
      }
    }
  }

  &_leftBg {
    position: absolute;
    top: 33%;
    left: -12%;
    width: 499px;
    height: 643px;
    background-image: url(../../sources/images/bestSellers/leftBg.png);
    background-repeat: no-repeat;
  }
}
