.container {
  display: block;
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100%;
}
.navList {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  .navItem {
    margin-right: 49px;
    font-size: 20px;
    font-weight: 400;
    line-height: 73px;

    .navLink {
      color: black;

      &:hover {
        color: #9fcb22;
      }
    }
  }
}
.sotialList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  .sotialLink {
    width: 42px;
    height: 42px;
    margin-right: 12px;
    background-color: #ffffff;
    border-radius: 50%;

    .sotiaIconSvg {
       width: 20px;
      height: 20px;
      fill: #9fcb22;
    }
  }
}
