.container {
  display: block;
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100%;
}
.navList {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  list-style: none;

  .navItem {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 400;

    &:not(:last-child) {
      margin-right: 35px;
    }
    .navLink {
      color: black;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        color: #9fcb22;
      }
    }
  }
}
.sotialList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;

  &_item {
    position: relative;
    width: 42px;
    height: 42px;
    margin-right: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #9fcb22;
    }
    &:hover .sotialList_item_link_icon {
      color: #ffffff;
    }

    &_linkCart::before {
      position: absolute;
      top: -11%;
      left: 71%;
      width: 17px;
      height: 17px;
      padding-left: 4px;
      padding-bottom: 20px;

      content: '0';
      background-color: #10472e;
      color: white;
      border-radius: 50%;
    }

    &_link_icon {
      display: block;
      margin: 0 auto;
      margin-top: 11px;
      width: 20px;
      height: 20px;
      fill: #9fcb22;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
