.container {
  display: block;
  max-width: 1112px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 140px;
  padding-bottom: 140px;
}
.productsList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.productsItem1 {
  position: relative;
  width: 350px;
  height: 284px;
  margin-right: 30px;
  background-color: #000000;
  background-image: linear-gradient(10deg, #a0ded4 0%, #90ddd8 100%);

  .productsImage1 {
    position: absolute;
    top: 19%;
    left: 38%;
    width: 195px;
    height: 230px;
  }
}
.productsItem2 {
  position: relative;
  width: 350px;
  height: 284px;
  margin-right: 30px;
  background-color: #000000;
  background-image: linear-gradient(-84deg, #f48214 0%, #fb9723 100%);

  .productsImage2 {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 145px;
    height: 227px;
  }
}
.productsItem3 {
  position: relative;
  width: 350px;
  height: 284px;
  margin-right: 30px;
  background-color: #000000;
  background-image: linear-gradient(-84deg, #9fcb22 0%, #b0e223 100%);

  .productsImage3 {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 145px;
    height: 227px;
  }
}
.productsTitle {
  width: 200px;
  margin-top: 69px;
  padding-left: 33px;
  color: #ffffff;
  font-family: Jost;
  font-size: 28px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.shopNow {
  margin-top: 42px;
  padding-left: 33px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
